<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="shortcut icon" href="/images/logo-mb.png" type="image/png">
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="robots" content="noindex, nofollow">

    <script src="/ckeditor/ckeditor.js"></script>

</head>

<body>
    <div style="padding: 0px 200px;">
        <textarea id="content" name="question_text">
           <% if(data.length==0){ %>
            No data
           <% }else{ %>

            <div style="margin: 10px 0;text-align: center;">
               <h2><%= obj.school_name %></h2>
               <h3><%=  obj.name %></h3>
                <div style="display: flex;justify-content: space-between;">
                    <p>Marks: <%= obj.total_mark %></p>
                    <p>Time: <%= obj.total_qus %> Minutes</p>
               </div>
               <hr>
            </div>
  
            <% if(obj.q_formate == 'mcq'){ %>
                <% for(let i=0; i<data.length; i++){ %>
                    <% let opt = JSON.parse(data[i].question_option) %>
                      <div style=" display: flex!important;align-items: start;font-weight: 400;font-size: 15px;margin: 5px 0;">
                        <%= i+1 < 10 ? "0"+(i+1) : i+1  %>. <p style="margin-left: 20px;"><%- data[i].question_text %></p>
                      </div>
                      <div style="margin-left:40px;">
                        <div style="display: grid; 
                        grid-template-rows: 1fr 1fr;
                        grid-template-columns: 1fr 1fr;
                        gap: 0px;
                        ">
                              
                              <div> (a).  <%- opt[0] %></div> 
                              <div> (b). <%- opt[1] %></div> 
                              <div> (c). <%- opt[2] %></div> 
                              <div> (d).  <%- opt[3] %></div> 
                              
                        </div>
                      </div>              
                    <% } %>
            <% }else{%>
                <% for(let i=0; i<data.length; i++){ %>
                    <% let opt = JSON.parse(data[i].question_option) %>
                      <div style=" display: flex!important;align-items: start;font-weight: 400;font-size: 15px;margin: 5px 0;">
                        <%= i+1 < 10 ? "0"+(i+1) : i+1  %>. <p style="margin-left: 20px;"><%- data[i].question_text %></p>
                      </div>
                      <div style="margin-left:40px;">
                        <div>
                              <div> (a).  <%- opt[0] %></div> 
                              <div> (b). <%- opt[1] %></div> 
                              <div> (c). <%- opt[2] %></div> 
                              <div> (d).  <%- opt[3] %></div> 
                        </div>
                      </div>              
                    <% } %>
            <% } %>

            
           <% } %>
        </textarea>
       
       
    </div>
    
   
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default"></script>
    <script>
        CKEDITOR.replace('content', {
            height: 700,
            removeButtons: 'PasteFromWord',
        });

        if (CKEDITOR.env.ie && CKEDITOR.env.version == 8) {
            document.getElementById('ie8-warning').className = 'tip alert';
        }
    
    </script>

</body>

</html>