<%- include('../partials/header/dashboardHeader.ejs') %>
    <style>
        #loading-spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 100%;
            translate: (-50%, -50%);
        }
    </style>
    <div id="loading-spinner" style="display:none;">
        <img src="/images/spinner.gif" alt="Loading...">
    </div>
    <div class="main-content py-2">

        <div class="p-2 d-flex justify-content-center w-100">
            <form method="post" action="/exam/create">
                <div>
                    <div class="border border-gray card  p-4">
                        <div class="mb-2">
                            <p class="mb-0 d-flex justify-content-between">This exams is creating by <span class="fw-bold border rounded-pill px-3 border-primary"><%= user.username %></span></p>
                            <p class="mb-0">
                                <input type="text" name="teacher" value="<%= user.id %>" hidden>
                                <input type="text" name="school_id" value="<%= user.school_id %>" hidden>
                            </p>
                        </div>
                        <div class="mb-2">
                            <div class="d-flex ">
                                <span>Exam Code: </span>
                                <p class="mb-0 mx-2 fw-bold" id="exam-code">
                                    <%= exam_code %>
                                </p>
                                <input type="text" id="exam-code2" name="exam_code" value="<%= exam_code %>" hidden>
                                <button type="button" class="text-primary border-0 px-1 rounded mb-5" id="regenerate" style="cursor:pointer">Regenerate</button>
                            </div>
                            
                            <script>
                                const regenerateButton = document.getElementById('regenerate');
                                const examCodeElement = document.getElementById('exam-code');
                                const examCodeElement2 = document.getElementById('exam-code2');

                                regenerateButton.addEventListener('click', () => {
                                    const randomNumber = Math.floor(Math.random() * 10000);
                                    const examCode = examCodeElement.textContent.trim();
                                    const parts = examCode.split('_');
                                    parts[2] = randomNumber.toString().padStart(4, '0');
                                    const newExamCode = parts.join('_');
                                    examCodeElement.textContent = newExamCode;
                                    examCodeElement2.value = newExamCode;
                                });
                            </script>
                        </div>
                        <div class="mb-4 form-outline">
                            <input name="exam_name" type="text" id="form1Example1" class="form-control" required />
                            <label class="form-label" for="form1Example1">Exam Name *</label>
                        </div>
                            <select name="class_id" id="sidebar_class_select" class="py-2 px-4 mb-3"
                                style="width: 100%; outline: black" required>
                                <option class="py-2 px-5" value="" selected disabled>Class</option>
                                <% if(class_id){ %>
                                    <option class="py-2 px-5" value="<%=class_id%>" selected>
                                        <%= classes[0].class_name %>
                                    </option>
                                    <% }else{ %>
                                        <% for(let c of classes){ %>
                                            <option class="py-2 px-5" value="<%= c.class_id%>" <% c.class_id==class_id
                                                ? 'selected' : '' %>>
                                                <%= c.class_name %>
                                            </option>
                                            <% } %>
                                    <% } %>
                            </select>
                            <select name="subject" id="sidebar_subject_select" class="py-2 px-4 mb-3"
                                style="width: 100%; outline: black" required>
                                <option class="py-2 px-5" value="" selected disabled>Subject</option>
                                <% if(subject){ %>
                                    <option class="py-2 px-5" value="<%=subject%>" selected>
                                        <%= classes[0].subject_name ? classes[0].subject_name : 'All' %>
                                    </option>
                                    <% } %>>
                            </select>
                        <div class="mb-4">
                            <span>Start Time</span>
                            <input type="datetime-local" name="start_time" id="start-time" class="form-control" required />
                        </div>
                        <div class="mb-4">
                            <span>End Time</span>
                            <input type="datetime-local" name="end_time" id="end-time" class="form-control" required />
                        </div>
                        <div class="mb-4">
                            <input type="text" id="duration" name="duration" class="form-control" disabled placeholder="Duration" />
                        </div>

                        <script>
                            const startTimeInput = document.getElementById('start-time');
                            const endTimeInput = document.getElementById('end-time');
                            const durationInput = document.getElementById('duration');

                            startTimeInput.addEventListener('change', calculateDuration);
                            endTimeInput.addEventListener('change', calculateDuration);

                            function calculateDuration() {
                                const startTime = new Date(startTimeInput.value);
                                const endTime = new Date(endTimeInput.value);
                                const durationMs = endTime - startTime;
                                const durationMinutes = Math.round(durationMs / (1000 * 60));
                                durationInput.value = durationMinutes + ' minutes';
                            }
                        </script>
                        <input type="text" value="<%= q_set %>" hidden name="q_set">
                        <button type="submit" class="btn btn-primary">sumit</button>
            </form>
        </div>
    </div>
    </div>
    </div>
    <%- include('../partials/footer.ejs') %>
        <script>
            const sidebar_class_select = document.getElementById('sidebar_class_select');
            const sidebar_subject_select = document.getElementById('sidebar_subject_select');
            const chapter_select = document.getElementById('chapter_select');
            const loading_spinner = document.getElementById('loading-spinner');
            var classes

            sidebar_class_select.addEventListener('change', async (event) => {
                loading_spinner.style.display = 'block'
                classes = event.target.value;
                console.log("feting...");
                let data = await fetch(`/user/get-subject?class_id=${classes}`).then(res => res.json()).then(data => {
                    loading_spinner.style.display = 'none'
                    return data
                })
                sidebar_subject_select.innerHTML = ''
                generateOptions(data, sidebar_subject_select)
            });
            subject_select.addEventListener('change', async (event) => {
                loading_spinner.style.display = 'block'
                var subject_id = event.target.value;
                console.log("feting...");
                let data = await fetch(`/user/get-chapter?class_id=${classes}&subject_id=${subject_id}`).then(res => res.json()).then(data => {
                    loading_spinner.style.display = 'none'
                    return data
                })
                chapter_select.innerHTML = ''
                const option = document.createElement('option');
                option.innerHTML = `Select Chapter`;
                option.value = `none`;
                chapter_select.appendChild(option);
                for (let i = 0; i < data.length; i++) {
                    const option = document.createElement('option');
                    option.value = `${data[i].id}`;
                    option.innerHTML = `${data[i].chapter_name}`;
                    chapter_select.appendChild(option);
                }
            });

            function generateOptions(data, getSelectDiv) {
                const option = document.createElement('option');
                option.innerHTML = `Select Subject`;
                option.value = `none`;
                getSelectDiv.appendChild(option);
                for (let i = 0; i < data.length; i++) {
                    const option = document.createElement('option');
                    option.value = `${data[i].id}`;
                    option.innerHTML = `${data[i].subject_name}`;
                    getSelectDiv.appendChild(option);
                }
            }
        </script>
        </body>

        </html>