<%- include('../partials/header/dashboardHeader.ejs') %>
<style>
  #loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    translate: (-50%, -50%);
  }
</style>
<div id="loading-spinner" style="display:none;">
  <img src="/images/spinner.gif" alt="Loading...">
</div>
<div style="min-height: 100vh;background-color: #eee;">
  <div class="main-content container py-2">
    <% if(status){ %>
    <div class="border rounded p-3 bg-light" style="max-width: 500px;">
      <h3>Thanks <%= user.name %>!</h3>
      <hr>
      <p class="text-success" style="font-size: 20px;">Your response has been recorded!</p>
      <p>Submit on: <span class="border rounded-pill px-3 py-1"><%= data[0].created_at.toLocaleTimeString() %></span></p>
      <a href="/exam/view-result?token=<%=token%>" class="btn btn-dark btn-sm">View Results</a>
    </div>
    <% }else{ %>
    <div>
      <p>Something went wrong! try again</p>
    </div>
    <% }%>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
</body>

</html>