<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="shortcut icon" href="/images/logo-mb.png" type="image/png">
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="robots" content="noindex, nofollow">

    <script src="/ckeditor/ckeditor.js"></script>

</head>

<body>
    <div style="padding: 0px 200px;">
        <textarea id="content">
           <% if(data.length==0){ %>
            No data
           <% }else{ %>

            <div style="margin: 20px 0;">
               <div style="text-align: center;margin: 6px 0;">
                  <!-- <h2 style="font-weight: bold ;"><%= obj.school_name %></h2> -->
                  <h2 style="font-weight: bold ;">সাতশিমুলিয়া দ্বিমুখী উচ্চ বিদ্যালয়</h2>
               </div>
                <div style="display: grid;grid-template-columns: 1fr 1fr 1.5fr 1fr;grid-template-rows: 1fr;gap: 0px 0px;grid-auto-flow: row; grid-template-areas: '. . . .'">
                    <p>সময়ঃ <%= obj.total_qus %> মিনিট</p>
                    <p>পুর্নমাণ: <%= obj.total_mark %></p>
                    <p> বাংলা ২য় পত্র</p>
                    <p>বিষয় কোড: BAN 186</p>
               </div>
               <div style="text-align: center;margin-top: 5px;">
                [ দ্রষ্টব্যঃ  সরবরাহকৃত নৈর্ব্যত্তিক অভীক্ষার উত্তরপত্রে প্রশ্নের ক্রমিক নম্বরের বিপরীতে প্রদত্ত বর্ণসম্বলিত বৃত্ত সমুহ হতে সঠিক উত্তরের বৃত্তটি বল পয়েন্ট কলম দারা সম্পুর্ণ ভরাট কর । প্রতিটি প্রশ্নের মান ১ ]
               </div>
            </div>
            <% if(obj.q_formate == 'questions'){ %>
              <div style="
                   display: grid; 
                   grid-template-rows: 1fr;
                   grid-template-columns: 1fr 1fr;
                   gap: 0px;
                   height: 100%;
                ">
                <div style="padding-right: 20px;">
                  <% for(let i=0; i<data.length; i= i+2){ %>
                    <% let opt = JSON.parse(data[i].question_option) %>
                      <div style=" display: flex!important;align-items: start;margin: 5px 0;">
                        <p><%= i+1 < 10 ? "0"+(i+1) + ". " : i+1 + ". "  %></p> <p style="margin-left: 15px;"><%- data[i].question_text %></p>
                      </div>
                      <div style="margin-left:30px;">
                        <div style="display: grid; 
                        grid-template-rows: 1fr 1fr;
                        grid-template-columns: 1fr 1fr;
                        gap: 0px;
                        ">
                              <div> (ক) <%- opt[0] %></div> 
                              <div> (খ) <%- opt[1] %></div> 
                              <div> (গ) <%- opt[2] %></div> 
                              <div> (ঘ) <%- opt[3] %></div> 
                              
                        </div>
                      </div>              
                    <% } %>
                </div>
                <div  style="padding-right: 20px;">
                  <% for(let i=1; i<data.length; i= i+2){ %>
                    <% let opt = JSON.parse(data[i].question_option) %>
                      <div style=" display: flex!important;align-items: start!important;margin: 5px 0;">
                        <p><%= i+1 < 10 ? "0"+(i+1) + ". " : i+1 + ". "  %></p> <p style="margin-left: 15px;"><%- data[i].question_text %></p>
                      </div>
                      <div style="margin-left:30px;">
                        <div style="display: grid; 
                        grid-template-rows: 1fr 1fr;
                        grid-template-columns: 1fr 1fr;
                        gap: 0px;
                        ">
                              
                              <div> (ক) <%- opt[0] %></div> 
                              <div> (খ) <%- opt[1] %></div> 
                              <div> (গ) <%- opt[2] %></div> 
                              <div> (ঘ) <%- opt[3] %></div> 
                              
                        </div>
                      </div>              
                    <% } %>
                </div>
              </div>
            <% }else{%>
                <% for(let i=0; i<data.length; i++){ %>
                    <% let opt = JSON.parse(data[i].question_option) %>
                      <div style=" display: flex!important;align-items: start;font-weight: 400;font-size: 15px;margin: 5px 0;">
                        <%= i+1 < 10 ? "0"+(i+1) : i+1  %>. <p style="margin-left: 20px;"><%- data[i].question_text %></p>
                      </div>
                      <div style="margin-left:40px;">
                        <div>
                          <div> (ক) <%- opt[0] %></div> 
                          <div> (খ) <%- opt[1] %></div> 
                          <div> (গ) <%- opt[2] %></div> 
                          <div> (ঘ) <%- opt[3] %></div> 
                        </div>
                      </div>              
                    <% } %>
            <% } %>

            
           <% } %>
        </textarea>
       
       
    </div>
    
   
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default"></script>
    <script>
        CKEDITOR.replace('content', {
            height: 700,
            removeButtons: 'PasteFromWord',
            toolbar: [{
          name: 'document',
          items: ['NewPage', 'Preview',  '-']
        },
        {
          name: 'editing',
          items: ['Find', 'Replace', '-', 'SelectAll', '-', 'Scayt']
        },
        {
          name: 'basicstyles',
          items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat']
        },
        {
          name: 'paragraph',
          items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock']
        },
        {
          name: 'insert',
          items: ['Table', 'HorizontalRule', 'PageBreak',]
        },
        {
          name: 'styles',
          items: ['Styles', 'Format', 'Font', 'FontSize']
        },
        {
          name: 'colors',
          items: ['TextColor', 'BGColor']
        },
        {
          name: 'tools',
          items: ['Maximize']
        },
        {
          name: 'math',
          items: ['Mathjax']
        }

      ],
        });

        if (CKEDITOR.env.ie && CKEDITOR.env.version == 8) {
            document.getElementById('ie8-warning').className = 'tip alert';
        }
    
    </script>

</body>

</html>