<%- include('../user/user_partials/header.ejs') %>

<div class="container p-4" style="min-height: 100vh;">
  <h5 class="my-2 text-primary py-2 border text-center" style="background-color: rgb(186, 214, 255,0.4);">Teacher Registration</h5>
  <div class="row">
    <div class="col-6 col-sm-12">
      <form action="/teacher/register-teacher?edit=<%= data ? true : false %>&id=<%= data ? data.id : '' %>" method="post" enctype="multipart/form-data">
        <div class="form-outline mb-4">
          <input value="<%= data && data.name ? data.name : ''%>" type="text" maxlength="30" name="name" class="form-control" required />
          <label class="form-label">Name</label>
        </div>

        <!-- Text input -->
        <div class="form-outline mb-4">
          <input value="<%= data && data.email ? data.email : ''%>" type="email" maxlength="50" name="email" class="form-control" required />
          <label class="form-label">Email</label>
        </div>

        <!-- Text input -->
        <div class="form-outline mb-4">
          <input value="<%= data && data.phone ? data.phone : ''%>" type="text" maxlength="15" name="phone" class="form-control" required />
          <label class="form-label">Phone</label>
        </div>

        <div class="form-outline mb-4">
          <input value="<%= data && data.username ? data.username : ''%>" type="text" id="username" maxlength="30" name="username" class="form-control" required />
          <label class="form-label" for="username">Username</label>
        </div>

        <div class="form-outline">
          <input value="<%= data && data.password ? data.password : ''%>" type="password" id="password" maxlength="30" name="password" class="form-control" required />
          <label class="form-label" for="username">password</label>
        </div>
        <span class="text-danger fst-italic"><%= data && data.password ? "This Password in secure hashed formate" : ''%></span>

        <!-- Number input -->
        <div class="form-outline my-4">
          <textarea type="text" id="form6Example6" maxlength="340" name="address" class="form-control"><%= data && data.address ? data.address : ''%></textarea>
          <label class="form-label" for="form6Example6">Adress</label>
        </div>
    </div>
    <div class="col-6 col-sm-12">
      <div>
        <img src="<%= data && data.avater ? data.avater : '/images/teacher.png' %>" class="object-cover" alt="" height="200" width="200" id="imagePreview">
      </div>
      <div class="my-4">
        <label class="form-label" for="customFile">Max file size 200KB</label>
        <input type="file" class="form-control" id="student_avater" name="teacher_avater" />

        <script>
          const fileInput = document.getElementById('student_avater');
          const imagePreview = document.getElementById('imagePreview');
          fileInput.addEventListener('change', () => {
            const file = fileInput.files[0];
            const fileSize = file.size;
            const maxSize = 1024 * 200; // 200KB

            if (fileSize > maxSize) {
              alert('File size exceeds the limit of 200KB');
              fileInput.value = ''; // Clear the file input to prevent submitting the form
            } else {
              const file = fileInput.files[0];
              const reader = new FileReader();

              reader.onload = (event) => {
                imagePreview.src = event.target.result;
              };

              reader.readAsDataURL(file);
            }
          });
        </script>
      </div>

    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-<%= data ? 'warning' : 'primary' %> btn-block mb-4"> <%= data ? 'Update Profile' : 'Register Teacher' %></button>
    </form>
  </div>

</div>
<%- include('../user/user_partials/footer.ejs') %>