<%- include('../partials/header.ejs') %>
    <div class="container-fluid py-3">
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="border p-4 my-4" style="width: 50%;">
                  <h4 class="text-center mb-3">Create a new user</h4>
                  <form action="/admin/update-user?id=<%= user.id %> " method="post">
                        <div class="form-outline mb-2">
                          <input disabled minlength="5"  value="<%= user.username %>"  name="username" type="text" id="form8Example1" class="form-control" />
                          <label  class="form-label" for="form8Example1">Username</label>
                        </div>
                     
                        <!-- Email input -->
                        <div class="form-outline my-2">
                          <input name="password" type="text" id="form8Example2" class="form-control" />
                          <label class="form-label" for="form8Example2">Password</label>
                        </div>
  
                        <select name="subscription" class="py-2 px-4 mb-3" 
                                              style="width: 100%; outline: black">
                            <option class="py-1 px-3"  value="0">Subscription For</option>
                            <option class="py-1 px-3" <%= user.subscription == 1 ? 'selected' : '' %>   value="1">1 Month</option>
                            <option class="py-1 px-3" <%= user.subscription == 2 ? 'selected' : '' %>   value="2">2 Month</option>
                            <option class="py-1 px-3" <%= user.subscription == 3 ? 'selected' : '' %>   value="3">3 Month</option>
                            <option class="py-1 px-3" <%= user.subscription == 6 ? 'selected' : '' %>  value="6">6 Month</option>
                            <option class="py-1 px-3" <%= user.subscription == 12 ? 'selected' : '' %>   value="12">12 Month</option>
  
                        </select>
                        <select name="device" class="py-2 px-4 mb-3" 
                                              style="width: 100%; outline: black">
                            <option class="py-1 px-3" value="0">Allow Device</option>
                            <option class="py-1 px-3" <%= user.device == 1 ? 'selected' : '' %> value="1">1 Device</option>
                            <option class="py-1 px-3" <%= user.device == 2 ? 'selected' : '' %> value="2">2 Device</option>
                            <option class="py-1 px-3" <%= user.device == 3 ? 'selected' : '' %> value="3">3 Device</option>
                            <option class="py-1 px-3" <%= user.device == 5 ? 'selected' : '' %> value="5">5 Device</option>
  
                        </select>
                    <!-- Submit button -->
                    <center><button type="submit" class="btn btn-primary mb-4">Register</button></center>
                
                  </form>

                  <% if(username){ %> 
                    <div >
                     <span class="fw-bold"> username:</span> <%= username %>  <br>
                     <span class="fw-bold"> password:</span> <%= password %>  <br>
                      <input id="info" type="text" value="username: <%= username %>, password: <%= password %>" class="d-none">
                     <script>
                      function myFunction() {
                          var copyText = document.getElementById("info");
                          var copyBtn = document.getElementById("copyBtn");
                          copyText.select();
                          copyText.setSelectionRange(0, 99999); /* For mobile devices */
                          navigator.clipboard.writeText(copyText.value);
                          copyBtn.classList.add("bg-success")
                          copyBtn.innerText = "coppied"
                      }
                   </script>

                      <button class="btn btn-primary btn-sm my-2" id="copyBtn" onclick="myFunction()">Copy</button>
                    </div>
                  <% } %> 
                </div>
              </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
        </body>

        </html>