<%- include('../../user_partials/header.ejs') %>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal top fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="true">
  <div class="modal-dialog  ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal2Label">Class</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/user/admin/questions/create-class" method="post">
          <div class="form-outline mb-4">
            <input type="text" id="classInput" class="form-control" name="class_name" required />
            <label class="form-label" for="classInput">Class Name *</label>
          </div>

          <!-- Text input -->
          <div class="form-outline mb-4">
            <input type="text" id="descInput" class="form-control" name="desc" required />
            <label class="form-label" for="descInput">Description *</label>
          </div>
          <input type="text" id="editId" name="editId" hidden>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-success" id="actionModalButton">Create</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="main-content" style="background: #eee;min-height: 90vh;">
  <div class="bg-light rounded p-4" style="padding-top: 26px;background-color: #fff;">
    <% if(data.length==0){ %>
    <p class="text-center text-dark">No Subject Found</p>
    <button type="button" class="btn btn-success btn-sm my-1" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">
      Create class
    </button>
    <% }else{ %>
    <div>
      <button type="button" class="btn btn-success btn-sm my-1" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">
        Create class
      </button>
      <a href="/user/admin/questions/subject" type="button" class="btn btn-primary btn-sm my-1">
        Create Subject
      </a>
      <a href="/user/admin/questions/create-chapter" type="button" class="btn btn-info btn-sm my-1">
        Create Chapter
      </a>

    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Class</th>
            <th scope="col">Class Description</th>
            <th scope="col">Subject</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let s of data){%>
          <tr>
            <td class="editIds"><%= s.id %> </td>
            <td class="classNames"><%= s.class_name %></td>
            <td class="classdescs"><%= s.class_description %></td>
            <td><a class="btn btn-link border" href="/user/admin/questions/get-subject-by-class?class_id=<%= s.id %> ">See subject</a></td>
            <td>
              <a data-mdb-toggle="modal" data-mdb-target="#exampleModal2" class="btn btn-link border editClass" href="/user/admin/questions/class?edit=true&id=<%= s.id %>">Edit</a>
            </td>
          </tr>
          <% }%>
        </tbody>
      </table>
    </div>


    <% } %>
  </div>
</div>

<script>
  let editClass = document.getElementsByClassName('editClass')
  let classInput = document.getElementById('classInput')
  let classNames = document.getElementsByClassName('classNames')
  let descInput = document.getElementById('descInput')
  let classdescs = document.getElementsByClassName('classdescs')
  let editId = document.getElementById('editId')
  let actionModalButton = document.getElementById('actionModalButton')
  let editIds = document.getElementsByClassName('editIds')

  for(let i=0;i<editClass.length;i++){
    editClass[i].addEventListener('click',(e)=>{
      classInput.value= classNames[i].textContent.trim()
      descInput.value= classdescs[i].textContent.trim()
      editId.value= editIds[i].textContent.trim()
      actionModalButton.innerText = 'Update'
      actionModalButton.classList.add('btn-warning')
    })
  }

</script>

<%- include('../../user_partials/footer.ejs') %>
</body>

</html>