<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="shortcut icon" href="/images/logo-mb.png" type="image/png">
  <!-- GOOGLE FONT -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <meta name="robots" content="noindex, nofollow">

  <!-- BOXICONS -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css" rel="stylesheet" />
  <script src="/ckeditor/ckeditor.js"></script>
  <!-- APP CSS -->
  <link rel="stylesheet" href="/styles/grid.css">
  <link rel="stylesheet" href="/styles/dashboard.css">
  <link rel="stylesheet" href="/styles/alert.css">
  <link rel="stylesheet" href="/styles/custom_user.css">
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
            extensions: ["tex2jax.js", "TeX/AMSmath.js"],
            jax: ["input/TeX", "output/SVG"],
        });
    </script>

  <% if(user.userType==='admin' ){ %>
  <%- include('../../../sidebar/admin.ejs') %>
  <% }else if(user.userType==='teacher' ){ %>
  <%- include('../../../sidebar/teacher.ejs') %>
  <% }else if(user.userType==='moderator' ){ %>
  <%- include('../../../sidebar/moderator.ejs') %>
  <% } %>

  <%- include('../../../utils/alert.ejs') %>
  <style>
    #loading-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      z-index: 1;
    }

    .empty {
      border-color: red;
    }
  </style>
  <div id="loading-spinner" style="display:none;">
    <img src="/images/spinner.gif" alt="Loading...">
  </div>
  <form id="question_form" action="/user/admin/questions/create-question<%= (qus && setContent == "true") ? '?edit=true&q_id='+qus[0].id : '' %>" method="post">

    <div class="main-content">
      <div class="mb-5 p-2 rounded sticky-top d-flex justify-content-end" style="background-color: rgba(219, 219, 219, 0.5);">
        <button type="submit" class="btn btn-primary btn-sm my-1">Publish</button>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <div class="sticky-top">
            <div class="mb-2 shadow-sm p-3 border <%= obj.class_id && 'border-success border-2' %> rounded">
              <p class="text-center">Class Information</p>
              <div>
                <select name="class_id" id="class_select" class="py-2 px-4 mb-3" required style="width: 100%; outline: black">
                  <% if(obj.class_id ){ %>
                  <option class="py-2 px-5" value="<%= obj.class_id %>" selected><%= savedInfo.class_name ? savedInfo.class_name  : obj.class_id %></option>
                  <% }else{ %>
                  <option class="py-2 px-5" value="">Class</option>
                  <% for(let s of data){ %>
                  <option class="py-2 px-5" data-name="<%= s.class_name %>" value="<%= s.id %>">
                    <%= s.class_name %>
                  </option>
                  <% } %>
                  <% }%>
                </select>
              </div>
              <div class="d-none">
                <input type="text" name="class_name" id="class_name" value="<%= savedInfo.class_name ? savedInfo.class_name : '' %>" hidden>
                <input type="text" name="subject_name" id="subject_name" value="<%= savedInfo.subject_name ? savedInfo.subject_name : ''%>" hidden>
                <input type="text" name="chapter_name" id="chapter_name" value="<%= savedInfo.chapter_name ? savedInfo.chapter_name : '' %>" hidden>
              </div>
              <div class="">
                <select name="subject_id" id="subject_select" class="py-2 px-4 mb-3" required style="width: 100%; outline: black">
                  <% if(obj.subject_id ){ %>
                  <option class="py-2 px-5" value="<%= obj.subject_id %>" selected><%= savedInfo.subject_name ? savedInfo.subject_name : obj.subject_id %></option>
                  <% }else{ %>
                  <option class="py-2 px-5" value="">Subject</option>
                  <% }%>
                </select>
              </div>
              <div>
                <select name="chapter_id" id="chapter_select" class="py-2 px-4" required style="width: 100%; outline: black">
                  <% if(obj.chapter_id){ %>
                  <option class="py-2 px-5" value="<%= obj.chapter_id %>" selected><%= savedInfo.chapter_name ? savedInfo.chapter_name :obj.chapter_id %></option>
                  <% }else{ %>
                  <option class="py-2 px-5" value="">Chapter</option>
                  <% }%>
                </select>
              </div>
              <% if(obj.class_id){ %>
              <a href="/user/admin/create-question" class="btn btn-sm btn-danger mt-2">Reset</a>
              <% } %>
            </div>

            <div class="my-4 shadow-sm p-3 border rounded">
              <p class="text-center">Additional Information</p>
              <hr>
              <p>Board</p>
              <% if(!filter){ %>
                <p>--</p>
              <% }else{ %>
                <% for(let s of filter){ %>
                  <% if(s.type == 'board') {%>
                    <div class="form-check">
                      <input class="form-check-input" name="filter" type="checkbox" value="<%= s.id %>" id="<%= s.id %>" />
                      <label class="form-check-label" for="<%= s.id %>"><%= s.name %></label>
                    </div>
                  <% }%>
                <% } %>
                <% }%>

             <div class="mt-4">
              <select name="year" class="py-2 px-4 mb-3" style="width: 100%; outline: black">
                  <option class="py-1 px-3" value="">Year</option>
                  <option class="py-1 px-3" value="2023">2023</option>
                  <option class="py-1 px-3" value="2022">2022</option>
                  <option class="py-1 px-3" value="2021">2021</option>
                  <option class="py-1 px-3" value="2020">2020</option>
                  <option class="py-1 px-3" value="2019">2019</option>
                  <option class="py-1 px-3" value="2018">2018</option>
                  <option class="py-1 px-3" value="2017">2017</option>
                  <option class="py-1 px-3" value="2016">2016</option>
                  <option class="py-1 px-3" value="2015">2015</option>
                  <option class="py-1 px-3" value="2014">2014</option>
                  <option class="py-1 px-3" value="2013">2013</option>
                  <option class="py-1 px-3" value="2012">2012</option>
                  <option class="py-1 px-3" value="2011">2011</option>
                  <option class="py-1 px-3" value="2010">2010</option>
                  <option class="py-1 px-3" value="2009">2009</option>
                  <option class="py-1 px-3" value="2008">2008</option>
                  <option class="py-1 px-3" value="2007">2007</option>
                  <option class="py-1 px-3" value="2006">2006</option>
                  <option class="py-1 px-3" value="2005">2005</option>
                  <option class="py-1 px-3" value="2004">2004</option>
                  <option class="py-1 px-3" value="2003">2003</option>
                  <option class="py-1 px-3" value="2002">2002</option>
                  <option class="py-1 px-3" value="2001">2001</option>
                  <option class="py-1 px-3" value="2000">2000</option>
                  <option class="py-1 px-3" value="1999">1999</option>
                  <option class="py-1 px-3" value="1998">1998</option>
                  <option class="py-1 px-3" value="1997">1997</option>
                  <option class="py-1 px-3" value="1996">1996</option>
                  <option class="py-1 px-3" value="1995">1995</option>
              </select>
             </div>

            </div>

            <div class="my-4 shadow-sm p-3 border rounded">
              <p>Univeristy</p>
                <% if(!filter){ %>
                  <p>--</p>
                <% }else{ %>
                <% for(let s of filter){ %>
                  <% if(s.type == 'uni') {%>
                    <div class="form-check">
                      <input class="form-check-input" name="filter" type="checkbox" value="<%= s.id %>" id="<%= s.id %>" />
                      <label class="form-check-label" for="<%= s.id %>"><%= s.name %></label>
                    </div>
                  <% }%>
                <% } %>
                <% }%>
            </div>
          </div>

        </div>

        <div class="col-sm-12 col-md-9">
          <div class="ck_editor_div">
            <textarea id="content" class="ck_editor" name="question_text" required>
              <%- (qus && qus[0].question_text) && setContent == 'true'  ? qus[0].question_text : '' %>
            </textarea>
          </div>
          <% let opt %>
          <% if(qus && qus[0].question_option){ %>
          <%  opt = JSON.parse(qus[0].question_option) %>
          <% } %>

          <div class="my-5">
            <h4 class="text-center">Option of this question</h4>
            <hr>
            <div class="my-3 ck_editor_div">
              <h5>#option 1</h5>
              <textarea id="opt1" class="ck_editor" name="question_option">
                <%- (qus && opt[0]) &&  setContent   == 'true' ? opt[0] : '' %>
              </textarea>
            </div>

            <div class="my-3 ck_editor_div">
              <h5>#option 2</h5>
              <textarea id="opt2" class="ck_editor" name="question_option">
                <%- (qus && opt[1]) &&  setContent  == 'true' ? opt[1] : '' %>
              </textarea>
            </div>

            <div class="my-3 ck_editor_div">
              <h5>#option 3</h5>
              <textarea id="opt3" class="ck_editor" name="question_option">
                <%- (qus && opt[2]) &&  setContent == 'true'  ? opt[2] : '' %>
              </textarea>
            </div>

            <div class="my-3 ck_editor_div">
              <h5>#option 4</h5>
              <textarea id="opt4" class="ck_editor" name="question_option">
                <%- (qus && opt[3]) &&  setContent == 'true'  ? opt[3] : '' %>
              </textarea>
            </div>

          </div>

          <div class="my-4 py-4 px-3 rounded" style="background-color: #d3d3d331;">
            <h6 class="text-center">Corect Answer</h6>
            <hr>
            <div class="form-check">
              <input <%= (qus && qus[0].question_answer == 1) &&  setContent == 'true'  ? 'checked' : ''  %> class="form-check-input" type="radio" name="question_answer" value="1" id="flexRadioDefault1" required>
              <label class="form-check-label" for="flexRadioDefault1">
                #option 1
              </label>
            </div>
            <div class="form-check">
              <input <%= (qus && qus[0].question_answer == 2) &&  setContent == 'true'  ? 'checked' : ''  %> class="form-check-input" type="radio" name="question_answer" value="2" id="flexRadioDefault2" required>
              <label class="form-check-label" for="flexRadioDefault2">
                #option 2
              </label>
            </div>
            <div class="form-check">
              <input <%=( qus && qus[0].question_answer == 3) &&  setContent == 'true'  ? 'checked' : ''  %> class="form-check-input" type="radio" name="question_answer" value="3" id="flexRadioDefault3" required>
              <label class="form-check-label" for="flexRadioDefault3">
                #option 3
              </label>
            </div>
            <div class="form-check">
              <input <%= (qus && qus[0].question_answer == 4) &&  setContent == 'true'  ? 'checked' : ''  %> class="form-check-input" type="radio" name="question_answer" value="4" id="flexRadioDefault4" required>
              <label class="form-check-label" for="flexRadioDefault4">
                #option 4
              </label>
            </div>
          </div>

          <button type="submit" class="btn btn-<%= qus && setContent == 'true' ? 'warning' : 'primary' %> btn-block my-4"><%= qus && setContent == 'true' ? 'Update' : 'Create' %></button>

        </div>
      </div>
    </div>
    <!-- Text input -->



  </form>

  <style>
    .error {
      border: 1px solid red;
    }
  </style>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=default"></script>
  <script type="text/javascript">
    CKEDITOR.replace('content', {
      extraPlugins: 'mathjax,filebrowser',
      toolbar: [{
          name: 'document',
          items: ['Source', '-', 'NewPage', 'Preview', '-']
        },
        {
          name: 'editing',
          items: ['Find', 'Replace', '-', 'SelectAll', '-', 'Scayt']
        },
        {
          name: 'basicstyles',
          items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat']
        },
        {
          name: 'paragraph',
          items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock']
        },
        {
          name: 'links',
          items: ['Link', 'Unlink', 'Anchor']
        },
        {
          name: 'insert',
          items: ['Image', 'Table', 'HorizontalRule', 'PageBreak', ]
        },
        '/',
        {
          name: 'styles',
          items: ['Styles', 'Format', 'Font', 'FontSize']
        },
        {
          name: 'colors',
          items: ['TextColor', 'BGColor']
        },
        {
          name: 'tools',
          items: ['Maximize']
        },
        {
          name: 'math',
          items: ['Mathjax']
        }

      ],
      mathJaxLib: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default',
      height: 320,
      removeButtons: 'PasteFromWord',
      filebrowserBrowseUrl: '/upload/browse',
      filebrowserUploadMethod: 'form',
      filebrowserUploadUrl: '/upload',


    });

    if (CKEDITOR.env.ie && CKEDITOR.env.version == 8) {
      document.getElementById('ie8-warning').className = 'tip alert';
    }
    CKEDITOR.replace('opt1', {
      height: 80,
      toolbar: [{
          name: 'basicstyles',
          items: ['Bold', 'Italic', 'Underline', 'Strike']
        },
        {
          name: 'math',
          items: ['Mathjax']
        }
      ],
      extraPlugins: 'mathjax',
      mathJaxLib: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default',
    });
    CKEDITOR.replace('opt2', {
      height: 80,
      toolbar: [{
          name: 'basicstyles',
          items: ['Bold', 'Italic', 'Underline', 'Strike']
        },
        {
          name: 'math',
          items: ['Mathjax']
        }
      ],
      extraPlugins: 'mathjax',
      mathJaxLib: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default',
    });
    CKEDITOR.replace('opt3', {
      height: 80,
      toolbar: [{
          name: 'basicstyles',
          items: ['Bold', 'Italic', 'Underline', 'Strike']
        },
        {
          name: 'math',
          items: ['Mathjax']
        }
      ],
      extraPlugins: 'mathjax',
      mathJaxLib: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default',
    });
    CKEDITOR.replace('opt4', {
      height: 80,
      toolbar: [{
          name: 'basicstyles',
          items: ['Bold', 'Italic', 'Underline', 'Strike']
        },
        {
          name: 'math',
          items: ['Mathjax']
        }
      ],
      extraPlugins: 'mathjax',
      mathJaxLib: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default',
    });


    const class_select = document.getElementById('class_select');
    const subject_select = document.getElementById('subject_select');
    const chapter_select = document.getElementById('chapter_select');
    const class_name = document.getElementById('class_name');
    const subject_name = document.getElementById('subject_name');
    const chapter_name = document.getElementById('chapter_name');
    const loading_spinner = document.getElementById('loading-spinner');
    let classes
    class_select.addEventListener('change', async (event) => {
      loading_spinner.style.display = 'block'
      classes = event.target.value;
      const selectedOption = event.target.options[event.target.selectedIndex];
      const className = selectedOption.getAttribute('data-name');
      if (className) {
        class_name.value = className
      }
      let episod = await fetch(`/user/get-subject?class_id=${classes}`).then(res => res.json()).then(data => {
        loading_spinner.style.display = 'none'
        return data
      })
      subject_select.innerHTML = ''
      chapter_select.innerHTML = ''

      const option = document.createElement('option');
      option.value = ''
      option.innerHTML = 'Select Subject'
      subject_select.appendChild(option);

      for (let i = 0; i < episod.length; i++) {
        const option = document.createElement('option');
        option.value = `${episod[i].id}`;
        option.setAttribute('data-name', episod[i].subject_name);
        option.innerHTML = `${episod[i].subject_name}`;
        subject_select.appendChild(option);
      }
    });
    subject_select.addEventListener('change', async (event) => {
      loading_spinner.style.display = 'block'
      const selectedOption = event.target.options[event.target.selectedIndex];
      const className = selectedOption.getAttribute('data-name');
      if (className) {
        subject_name.value = className
      }
      var chapter = event.target.value;
      console.log("feting...");
      let episod = await fetch(`/user/get-chapter?class_id=${classes}&subject_id=${chapter}`).then(res => res.json()).then(data => {
        loading_spinner.style.display = 'none'
        return data
      })
      chapter_select.innerHTML = ''
      const option = document.createElement('option');
      option.value = ''
      option.innerHTML = 'Select Chapter'
      chapter_select.appendChild(option);
      for (let i = 0; i < episod.length; i++) {
        const option = document.createElement('option');
        option.value = `${episod[i].id}`;
        option.setAttribute('data-name', episod[i].chapter_name);
        option.innerHTML = `${episod[i].chapter_name}`;
        chapter_select.appendChild(option);
      }
    });
    chapter_select.addEventListener('change', async (event) => {
      const selectedOption = event.target.options[event.target.selectedIndex];
      const className = selectedOption.getAttribute('data-name');
      if (className) {
        chapter_name.value = className
      }
    })
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </div>
  <!-- END MAIN CONTENT -->

  <div class="overlay"></div>
  <script src="/scripts/dashboard.js"></script>
</body>

</html>