<%- include('../../user_partials/header.ejs') %>
    <div class="main-content" style="background: #eee;min-height: 90vh;">
        <div class="bg-light rounded p-4" style="padding-top: 26px;background-color: #fff;">
            <% if(data.length==0){ %>
                <p class="text-center text-dark">No Questions Found</p>
                <a href="/user/admin/questions/create-chapter" class="btn btn-primary">Create Chapter</a>
                <% }else{ %>
                    <div class="table-responsive">
                        <div class="py-2">
                            <p>Showing questions of </p>
                            Class: <span class="fw-bold text-primary">
                                <%= data[0].class_name %>
                            </span><br>
                            Subject: <span class="fw-bold text-success">
                                <%= data[0].subject_name %>
                            </span> <br>
                            Chapter: <span class="fw-bold text-danger">
                                <%= data[0].chapter_name %>
                            </span> <br>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Action</th>
                                    <th scope="col">Question</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let s of data){%>
                                    <tr>
                                        <td id="content" style="max-width: 30vw;"> <%- s.question_text %></td>
                                        <td>edit</td>
                                        <td><a href="/user/admin/questions/see-question?class_id=<%= s.class_id %>&subject_id=<%= s.subject_id %>&chapter_id=<%= s.chapter_id %>"
                                                class="btn btn-sm btn-dark">see question</a></td>
                                    </tr>
                                    <% }%>
                            </tbody>
                        </table>
                    </div>
                    <% } %>

                        <button id="getPdf">get</button>

        </div>
    </div>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({ 
        extensions: ["tex2jax.js"], 
        jax: ["input/TeX", "output/HTML-CSS"], 
        tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ], 
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ], 
        processEscapes: true }, 
        "HTML-CSS": { availableFonts: ["TeX"] } 
        });
      </script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <style>
        #content.print {
            background: red;
        }
    </style>
    <script>
        // Add event listener
        document.getElementById("getPdf").addEventListener("click", getSnap);
        const content = document.getElementById("content")



        function getSnap() {
            const content = document.getElementById("content");
            content.classList.add("print");
            const printContents = content.innerHTML;
            const tempElement = document.createElement('div');
            console.log(printContents);
            tempElement.innerHTML = printContents;

            const printWindow = window.open('', '', '');
            printWindow.document.write('<html><head><title>Print</title>');
            printWindow.document.write('<style>@media print { #getPdf { display: none; } }</style>');
            printWindow.document.write('</head><body>');
            printWindow.document.write(tempElement.innerHTML);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.focus();
            printWindow.print();
            printWindow.close();
            content.classList.remove("print");
        }
    </script>

    <%- include('../../user_partials/footer.ejs') %>
        </body>

        </html>