<%- include('../../user_partials/footer.ejs') %>
</body>

</html>


<%- include('../../user_partials/header.ejs') %>
<div class="modal top fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="true">
  <div class="modal-dialog  ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal2Label">Topic</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/user/admin/questions/create-topic" method="post">

          <!-- Text input -->
          <div class="mb-2">
            <select name="class_id" class="py-2 px-4 mb-3" required style="width: 100%; outline: black">
              <option class="py-2 px-5" value="<%= data[0].class_id %>" selected><%= data[0].class_name %></option>
            </select>
          </div>

          <div class="mb-2">
            <select name="subject_id" class="py-2 px-4 mb-3" required style="width: 100%; outline: black">
              <option class="py-2 px-5" value="<%= data[0].subject_id %>" selected><%= data[0].subject_name %></option>
            </select>
          </div>
          <div class="mb-2">
            <select name="chapter_id" class="py-2 px-4 mb-3" required style="width: 100%; outline: black">
              <option class="py-2 px-5" value="<%= data[0].chapter_id %>" selected><%= data[0].chapter_name %></option>
            </select>
          </div>

          <!-- Text input -->
          <div class="form-outline mb-4">
            <input type="text" id="topicNameM" class="form-control" name="topic_name" required />
            <label class="form-label" for="topicNameM">Topic *</label>
          </div>
          <input type="text" id="topic_id" name="topic_id" hidden>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-success" id="actionModalButton">Create</button>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="main-content" style="background: #eee;min-height: 90vh;">

  <div class="bg-light rounded p-4" style="padding-top: 26px;background-color: #fff;">
    <% if(data.length > 0 && topic_listing ){ %>
    <div class="py-2">
      <p>টপিক প্রদর্শন</p>
      শ্রেণি: <span><%= data[0].class_name %> </span><br>
      বিষয়: <span><%= data[0].subject_name %></span> <br>
      অধ্যায়: <span><%= data[0].chapter_name %></span> <br>
      <button type="button" class="btn btn-success btn-sm my-1" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">
        Add New Topic
      </button>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">টপিকের নাম</th>
            <th scope="col"> একশন </th>
            <th scope="col">প্রশ্ন দেখুন</th>
          </tr>
        </thead>
        <tbody>
          <% for(let s of data){%>
          <tr>
            <input type="text" value="<%= s.id %>" class="topic_ids" hidden>
            <td class="topicName"><%= s.topic_name %></td>
            <td>
              <span class="editBtn text-primary" style="cursor: pointer;" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">Edit</span>
            </td>
            <td class="d-flex">
              <a href="/user/admin/questions/see-question?class_id=<%= s.class_id %>&subject_id=<%= s.subject_id %>&chapter_id=<%= s.chapter_id %>&q_type=creative" class="btn btn-sm btn-dark mx-2">Creative</a>
              <a href="/user/admin/questions/see-question?class_id=<%= s.class_id %>&subject_id=<%= s.subject_id %>&chapter_id=<%= s.chapter_id %>&q_type=questions" class="btn btn-sm border mx-2">MCQ</a>
              <a href="/user/admin/questions/see-question?class_id=<%= s.class_id %>&subject_id=<%= s.subject_id %>&chapter_id=<%= s.chapter_id %>&q_type=q_others" class="btn btn-sm btn-dark border mx-2">Others</a>
            </td>

          </tr>
          <% }%>
        </tbody>
      </table>
    </div>

    <% }else{ %>
    <p class="text-center text-dark">No Topics Found</p>
    <button type="button" class="btn btn-success btn-sm my-1" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">
      Add New Topic
    </button>
    <% } %>
  </div>
</div>

<script>
  let editBtn = document.getElementsByClassName('editBtn')
  let topicName = document.getElementsByClassName('topicName')
  let topicNameM = document.getElementById('topicNameM')

  let topic_id = document.getElementById('topic_id')
  let topic_ids = document.getElementsByClassName('topic_ids')
  let actionModalButton = document.getElementById('actionModalButton')

  for (let i = 0; i < editBtn.length; i++) {
    editBtn[i].addEventListener('click', (e) => {
      console.log("hi");
      topicNameM.value = topicName[i].textContent.trim()
      topic_id.value = topic_ids[i].value
      actionModalButton.innerText = 'Update'
      actionModalButton.classList.add('btn-warning')
    })
  }
</script>

<%- include('../../user_partials/footer.ejs') %>
</body>

</html>