<%- include('../user/user_partials/header.ejs') %>

    <div class="container py-4" style="min-height: 100vh;">
        <h5 class="my-2 text-success">Registerd Student</h5>
    <% if(data.length==0){ %>
        <p class="text-center text-dark">No registered student</p>
    <% }else{ %>
        <div class="table-responsive">
            <table class="tablealign-middle y mb-0">
                <thead>
                  <tr>
                    <th>Info</th>
                    <th>Credentials(id,pass)</th>
                    <th>Gender</th>
                    <th>DOB</th>
                    <th>Adress</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% for(let s of data){ %>
                        <tr>
                            <td>
                              <div class="d-flex align-items-center">
                                <img
                                    src="<%= s.avater ?  s.avater  : '/images/user.png'  %>"
                                    alt=""
                                    style="width: 45px; height: 45px"
                                    class="rounded-circle"
                                    />
                                <div class="ms-3">
                                  <p class="fw-bold mb-1"><%= s.name %></p>
                                </div>
                              </div>
                            </td>
                            <td>
                                <span class="text-muted mb-0 border p-1 rounded student_id"><%= s.student_id %></span>
                                <span class="text-muted mb-0 border p-1 rounded student_password"><%= s.password %></span>
                                <button class="btn btn-link text-primary p-1 copy_credential" style="cursor: pointer">copy</button>
                            </td> 
                            <td>
                              <span><%= s.gender %></span>
                            </td>
                            <td> <%= s.dob ? s.dob.toDateString() : '--'  %></td>
                            <td>
                                <%= s.address %>
                            </td>
                            <td>
                                <a class="btn btn-link btn-sm btn-rounded" href="/user/create-student?edit=true&id=<%=s.id%>">Edit</a>
                            </td>
                          </tr>
                    <% } %>
                 
                
                </tbody>
              </table>
        
        </div>
        
        <% }%>
        <div class="d-flex justify-content-end mt-2">
            <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>"  >
                    <a  href="/user/registerd-student?page=<%=currentPage-1 %>" class="page-link" >Previous</a>
                  </li>
                  <% for(let i=0; i< totalPage; i++) {%> 
                    <li class="page-item  <%= currentPage == i+1 ? "active" : "" %> "><a class="page-link" href="/user/registerd-student?page=<%=i+1 %>"><%= i+1 %> </a></li>
                  <% }%> 
                  <li class="page-item <%= currentPage >= totalPage ? 'disabled' : '' %>"  >
                    <a class="page-link" href="/user/registerd-student?page=<%=currentPage+1 %>">Next</a>
                  </li>
                </ul>
              </nav>
          </div>
    </div>\
    <script>
        var copyButtons = document.querySelectorAll('.copy_credential');

// loop through each button and add a click event listener
copyButtons.forEach(function(button) {
    button.addEventListener('click', function() {
        // get the parent <td> element
        var parent = button.parentNode;

        // get the student ID and password elements
        var idElement = parent.querySelector('.student_id');
        var passwordElement = parent.querySelector('.student_password');

        // create a new temporary element to hold the text to copy
        var tempElement = document.createElement('textarea');
        tempElement.value = idElement.textContent + ' ' + passwordElement.textContent;
        document.body.appendChild(tempElement);

        // select and copy the text in the temporary element
        tempElement.select();
        document.execCommand('copy');
        // change the button text to "Copied!"
        button.textContent = 'Copied!';
        button.classList.add('text-success')

        // wait for 5 seconds and then change the button text back to "Copy"
        setTimeout(function() {
            button.textContent = 'Copy';
            button.classList.remove('text-success')
        }, 3000);


        // remove the temporary element from the page
        document.body.removeChild(tempElement);
        
    });
});
    </script>
    <%- include('../user/user_partials/footer.ejs') %>