<%- include('../../partials/header/head.ejs') %>
    <style>
        #background {
            background-attachment: fixed;
            background-size: cover;
        }
    </style>


    <!-- Modal  for trailer-->
    <div class="modal top fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog  modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <%= data[0].title %> videos
                    </h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"
                        id="modal_close_btn"></button>
                </div>
                <div class="modal-body">
                    <iframe id="youtube_frame" style="width: 100%;height: 100%;" src="" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal  for video js player-->
    <div class="modal playerModal top fade" id="openPlayer" tabindex="-1" aria-labelledby="exampleModalLabel1"
        aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog  modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Playing <%= data[0].title %>
                    </h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"
                        id="pause_button"></button>
                </div>
                <div class="modal-body">
                    <div class="media_container">
                        <div class="bg-light">
                            <video id="my-video" class="video-js vjs-skin-city vjs-big-play-centered" controls
                                preload="auto" width="640" height="264" poster="MY_VIDEO_POSTER.jpg"
                                data-setup='{"fluid": true}'>
                                <source id="movie_link_src"
                                    src="http://sample.vodobox.com/planete_interdite/planete_interdite_alternate.m3u8"
                                    type="application/x-mpegURL" />
                                <source src="MY_VIDEO.webm" type="video/webm" />
                                <p class="vjs-no-js">
                                    To view this video please enable JavaScript, and consider upgrading to a
                                    web browser that
                                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5
                                        video</a>
                                </p>
                            </video>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="" style="background-color: #031B23;">

        <div id="background">
            <div class="text-light p-3 container-fluid">
                <div class="row">
                    <div class="col-12 col-md-2 movie_image">
                        <div class="card" style="max-width: 270px;">
                            <div>
                                <img id="poster" src="<%= data[0].poster %>" class="img-fluid card-image" />
                            </div>
                        </div>
                    </div>

                    <div class="col movie_info_sec">
                        <div class="col movie_info_card p-3">
                            <h2 id="title">
                                <%= data[0].title %>
                            </h2>
                            <div class="tags">
                                <button id="category" class="tag">
                                    <%= data[0].movie_category %>
                                </button>
                                <button id="year" class="tag">2012</button>
                                <button id="rating" class="tag">6.8</button>
                                <button id="runtime" class="tag">1h 20m</button>
                            </div>
                            <p id="overview" clss="text-light">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ex in ducimus voluptates
                                sunt, quam culpa quis similique provident nesciunt!
                            </p>
                        </div>

                        <div class="col movie_play_card p-3">
                            <div class="play_sec d-flex">
                                <button class="btn bg-blur btn-simple text-light hover_btn m-1">4</button>
                                <button class="btn bg-blur btn-simple text-light hover_btn m-1" data-mdb-toggle="modal"
                                    data-mdb-target="#openPlayer">Play</button>
                                <button class="btn bg-blur btn-simple text-light hover_btn m-1" id="trailer"
                                    style="display: none;" data-mdb-toggle="modal"
                                    data-mdb-target="#exampleModal">Trailer</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cast_section my-5">
                    <h3 class="py-3">CAST</h3>
                    <div class="d-flex" id="cast">

                    </div>
                </div>

                <div class="my-2 movie_card">
                    <div class="d-flex justify-content-between my-2">
                        <h5 class="pc"> <i class="fas fa-film mx-1"></i> <span>
                                <%= data[0].movie_category.split(',')[0] %>
                            </span></h5>
                        <a class="pc fw-bold" href="/">View More</a>
                    </div>
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper category" id="swiper_container">

                        </div>

                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>


            </div>
        </div>
        <script>
            let tt_code = '<%= data[0].ttcode %>'
        </script>
        <script src="/scripts/singleMovieData.js"></script>
        <script type="text/javascript" src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
        <script>


            //reference of variable

            let title = document.getElementById('title')
            let poster = document.getElementById('poster')
            let overview = document.getElementById('overview')
            let year = document.getElementById('year')
            let rating = document.getElementById('rating')
            let runtime = document.getElementById('runtime')

            //video js
            var player = videojs('my-video');

            var audioTracks = player.audioTracks();

            for (var i = 0; i < audioTracks.length; i++) {
                var track = audioTracks[i];
                track.enabled = (track.label == 'Audio Track 1');
            }
            var rewind = player.controlBar.addChild('button', {}, 3);
            var rewindDom = rewind.el();
            var forward = player.controlBar.addChild('button', {}, 4);
            var forwardDom = forward.el();
            rewindDom.innerHTML = '<span class="vjs-icon-replay" style="font-size:1.8em"></span>';
            forwardDom.innerHTML = '<span class="fa-solid fa-rotate-right" style="font-size:1.4em"></span>';

            player.ready(function () {
                var rewindButton = document.getElementById('rewind-button');
                player.controlBar.addChild(rewindButton);

                rewindButton.addEventListener('click', function () {
                    console.log("hi");
                    player.currentTime(player.currentTime() - 10);
                });
            });

            //code for player in modal
            let pause_button = document.getElementById('pause_button')
            pause_button.addEventListener('click', (e) => {
                console.log("clicked");
                player.pause()
            })

            window.onload = async function () {
                const categoryDiv = document.querySelectorAll('.category');
                let category = '<%= data[0].movie_category %>'
                let get_info
                category = category.split(',')
                await fetch(`/movie/get-movie?category=${category[0]}`)  // Make an AJAX request to the server
                    .then((response) => response.json())
                    .then((data) => {
                        let movie_info = ""
                        for (let m of data) {
                            movie_info += `
                              
                              <div class="swiper-slide">
                  <div class="card card_position_relative get_info"  style="max-width: 250px;">
                      <div class="bg-image  hover-overlay ripple" data-mdb-ripple-color="light">
                          <img src="${m.poster}" class="img-fluid card-image" />
                          <a id="not">
                              <div class="mask" data-ttcode=${m.ttcode} style="background-color: rgba(0, 0, 0, 0.3);">
                              </div>
                          </a>
                      </div>
                      <a class="play-button">
                          <i data-mdb-toggle="modal" data-mdb-target="#openPlayer" data-linksrc="${m.movie_link ? m.movie_link : 'null'}" class="fas fa-play-circle"></i>
                      </a>

                      <div class="movie_info">
                          <p class="left-corner rating"><i class="fas fa-star mx-1"></i> ${m.rating}</p>
                          <p class="right-corner"><i class="fas fa-heart text-light"
                                  style="color:  rgba(4,255,142,1);"></i></p>
                      </div>

                  </div>

                  <p class="text-center mb-0" style="color:#29c093">${m.title}</p>
                  <p class="text-center" style="color:#29c093">${m.movie_year}</p>
              </div>
                              `
                        }

                        categoryDiv[0].innerHTML = movie_info
                        movie_info = ''


                    })
                let play_movie = document.querySelectorAll('.play-button')
                get_info = document.querySelectorAll('.get_info')
                get_info.forEach(element=>{
                    element.addEventListener('click',(e)=>{
                        let movie_ttcode = e.target.dataset.ttcode
                        fetchSingleMovie(movie_ttcode)
                    })
                })

                let API_URL =BASE_URL +`/movie/${tt_code}?${API_KEY}&language=en-US&external_source=imdb_id`;
                            let CAST_URL =BASE_URL + `/movie/${tt_code}/credits?${API_KEY}&language=en-US`;
                            let YOUTUBE_URL = BASE_URL + `/movie/${tt_code}/videos?${API_KEY}`;
                function fetchSingleMovie(tt_code){
                    fetch(`/movie/movie-info?ttcode=${tt_code}&render=false`)
                        .then(res=>res.json())
                        .then(async d=>{
                            
                           let data = d.data
                           title.innerText = data.title
                           poster.src = data.poster
                           year.innerText = data.movie_year
                           rating.innerText = data.rating
                           await get_data(BASE_URL +`/movie/${tt_code}?${API_KEY}&language=en-US&external_source=imdb_id`)
                           await get_cast(BASE_URL + `/movie/${tt_code}/credits?${API_KEY}&language=en-US`)
                           await get_youtube(BASE_URL + `/movie/${tt_code}/videos?${API_KEY}`)
                           window.history.pushState(null,null,`/movie/movie-info?ttcode=${tt_code}`)
                        })
                }

                play_movie.forEach(e => {
                e.addEventListener('click', (e) => {
                        let link = e.target.dataset.linksrc
                        player.src({type: 'application/x-mpegURL', src: 'http://content.jwplatform.com/manifests/vM7nH0Kl.m3u8'});
                        player.load();
                    })
                });

            }

        </script>

        <%- include('../../partials/footer.ejs') %>